html, body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #FFE0B2;
    color: #FE8572;
    user-select: none;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    margin: 30px auto;
}

img {
    width: 150px;
    margin: 0 auto;
}

input {
    color: #FE8572;
    background-color: #FDFCFE;
    border: 0;
    padding: 15px;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 0;
}

input:focus{
    outline: 2px solid #FE8572;
}

button {
    color: #FDFDFD;
    background-color: #F59467;
    border: 0;
    padding: 15px;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

button:hover {
    background-color: #FE8572;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

ul li {
    font-size: 20px;
    background-color: #FDFCFE;
    padding: 15px;
    border-radius: 8px;
    flex-grow: 1;
    text-align: center;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2)
}

ul li:hover {
    background-color: #FFC06E;
    cursor: pointer;
}

i {
    position: relative;
    width: 24px;
    height: 24px;
    margin-right: 10px;
    cursor: pointer;
    font-size: 24px;
    color: #FDFCFE;
}

i:hover {
    color: #F59467;
    
}

i:hover::after {
    content: "Insert an item and add to list.\A Double tap the item to remove.";
    white-space: pre;
    position: absolute;
    top: 100%;
    left: 0;
    background: #F59467;
    color: #FFF;
    padding: 10px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: normal;
    font-family: 'Montserrat', sans-serif;
    width: 220px;
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}
  
  i::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
